<form>
    <div class="container">
      <ion-item>
        <ion-input placeholder="{{'login.email' | translate}}"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input placeholder="{{'login.pass'}}"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div>
        <ion-button type="submit"  expand="block" fill="outline" (click)="home()">{{"login.buttonLogin" | translate}}</ion-button>
      </div>
      <div class="register-link">
        {{"login.noCuenta" | translate}}<a [routerLink]="['/singup']">{{"login.noCuentaRegister" | translate}}</a>
      </div>
    </div>
</form>
