
ion-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
}

ion-card {
    width: 300px;
    margin: auto;
    margin-top: 15%;
}

#loginForm {
    padding: 25px;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto{
    margin-top: 20px;
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
}

.register-link{
    margin-top: 10px;
    text-decoration: underline;
    cursor: pointer;
}


