<ion-content [fullscreen]="true">

  <div>
    <ion-card class="container">
      <ion-card-header>
        <div class="logo">
          <ion-thumbnail>
            <ion-img src="../../../assets/img/logo.jpg"></ion-img>
          </ion-thumbnail>
        </div>
        <ion-text class="texto">TURISTEO</ion-text>
      </ion-card-header>

      <ion-card-content>
        <app-login-form></app-login-form>
        <div class="register-link">
          ¿No tienes cuenta? <a href="#">Registrate</a>
        </div>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>
