<ion-header>
  <ion-toolbar color="primary" class="navbar">
    <ion-avatar slot="start">
      <img src="../../../../assets/img/logo-borde.png" alt="">
    </ion-avatar>
    <ion-title>{{pageTitle}}</ion-title>
    <ion-buttons slot="end" class="buttons">
      <ion-button (click)="home()">Inicio</ion-button>
      <ion-button (click)="addPlace()">Añadir Monumento</ion-button>
      <ion-button (click)="seePlace()">Ver Monumentos</ion-button>
      <ion-item color="primary" (ionchange)="onChangeLanguage()">
        <ion-select label="Idioma">
          <ion-select-option [value]="'en'">English</ion-select-option>
          <ion-select-option [value]="'es'">Español</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




