.custom-margin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top:5px;

}

.container {
  text-align: center;
}

ion-title {
  font-size: 36px; /* Tamaño de fuente más grande */
  font-weight: bold; /* Texto en negrita */
  color: #fbfafa; /* Color del texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto */
  margin-bottom: 10px; /* Margen inferior */
  letter-spacing: 1px; /* Espaciado entre caracteres */
}

img {
  max-width: 30%; 
  height: auto;
  margin-top: 10px; 
}

h2, h5 {
  margin-top: 10px;
  color: #ffffff;
}

