
<app-navbar></app-navbar>
<ion-content [fullscreen]="true">
  <div class="container">
      <h1>TURISTEO</h1>
      <img src="../../../assets/img/logo.jpg"/>
      <h2>Descubre y comparte los rincones más fascinantes del mundo con nuestra aplicación. 
        Añade tus propios lugares de interés y encuentra joyas ocultas recomendadas por otros viajeros apasionados. 
        ¡Explora el mundo a través de los ojos de la comunidad de TURISTEO!
      </h2>
      <ion-item-divider></ion-item-divider>
      <h5>Made by Daniel Luque Gallardo</h5>
  </div>
</ion-content>
