<form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()" class="form-place">
  <ion-list>


        
    <app-picture-selectable formControlName="photo"></app-picture-selectable>

    <ion-item>
      <ion-input formControlName="placeName" label="Nombre del lugar" placeholder="Sitio"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="city" label="Nombre de la ciudad" placeholder="Ciudad"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="typePlace" label="Selecciona el tipo" placeholder="Seleccionar"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block" [disabled]="!form.dirty">Crear Lugar</ion-button>
  </ion-list>
</form>
